@import url('https://fonts.googleapis.com/css?family=Open+Sans');
 body{
 	font-family: 'Open Sans', sans-serif;
 }
.table{ 
border-spacing: 20px;
border-collapse: separate;}
.table img{
width: 300px;		
height: 300px;
}
.text, .title{
	color:white;
}
.link a:link
{
   color: white;
   text-decoration: none;
}
.link a:visited
{
   color: white;
   text-decoration: none;
}
.link a:hover
{
   color: red;
   text-decoration: none;
}
.link a:active
{
   color: white;
   text-decoration: none;
}