@import url('https://fonts.googleapis.com/css?family=Pacifico');
			body{
				font-family: 'Pacifico', cursive;
			}
			.table{
				border: 10px solid #9e2121; 
				border-spacing: 0;
				border-collapse: collapse;}
			.tbody{
				background: yellow;
				text-align: center;
				border-collapse: collapse;}
			.thead{
				background: blue;
				border-collapse: collapse;
				border: 1px solid black;}
			.borders tr, td{
				border-collapse: collapse;
				border: 3px solid black;}
